* {
	font-family: Helvetica, sans-serif;
}

html {
	max-width: 50em;
	margin: auto;
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

img {
	margin:auto;
	display:block;
}

a {
	color: #707070;
	line-height: 1.5em;
	text-decoration:none;
}

	a:hover {
		background-color:#d64937;
		color:#ffffff
	}

@media screen and (max-width: 1000px) {
	html {
		max-width:98%;
		font-size:24px;
	}
	
 }

.title {
	text-align: center;
	}
